.btn_icon_acc {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #339538;
    border: none;
    /* background-image: url(https://i.pinimg.com/236x/6b/8b/a1/6b8ba1cbea0b91298960d4c00faca009.jpg); */
    background-size: 100% 100%;
}

.btn_acc_hover {
    position: absolute;
    width: 200px;
    left: 80%;
    z-index: 99;
    right: -0px;
    background: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn_account {
    display: block;
    padding: 10px 0px;
    text-decoration: none;
    color: #000000;
    border-bottom: 0.5px solid #339538;
}

.btn_account:hover {
    color: #339538;
}