.tab_menu {
    height: 50px;
    /* border: 1px solid rgb(196, 2, 2); */
    padding: 10px;
}

.tab_menu a {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
}

.tab_menu a:hover {
    color: #306304
}

.submenu_hover {
    overflow: hidden;
    position: absolute;
    background: white;
    width: 250px;
    margin-top: 15px
}

.submenu_hover .btn_submenu {
    display: block;
    padding: 10px 0px;
    text-decoration: none;
    color: #000000;
    border-bottom: 0.5px solid #339538;
    font-weight: normal;
    transition: .5s ease;
}