.comment {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    background: #f7e6e02e;
}

.title-comment {
    font-weight: bold;
    font-size: 17px
}

.rating-star .rating-item {
    border: 1px solid #ffe86b;
    margin: 10px 10px 10px 0px;
    width: 100px;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 5px;
}

.rating-star .rating-item p {
    margin: 0px;
    font-size: 15px;
    color: rgb(100, 100, 94);
}

.rating-star .rating-item iconify-icon {
    color: white;
}

.rating-star .rating-item:active {
    border: 3px solid #f1b500;
}

/* list comment */
.list-comment {
    /* height: 400px; */
    padding-bottom: 20px;
}

.list-comment .item {
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
}

.list-comment .avtar-rating {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
}

.list-comment .avtar-rating img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list-comment .info-avatar .name {
    font-size: 13px;
    margin: 0px
}

.list-comment .info-avatar img {
    width: 60px;
}


.list-comment .info-avatar .time {
    font-size: 11px;
    color: #ccc;
    margin: 0px;
}

/* your comment */
.your-comment {
    padding: 20px;
}

.your-comment b {
    font-size: 17px;
}

.your-comment div textarea {
    width: 600px;
    height: 40px;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    display: block;
}

.your-comment div textarea:focus {
    outline: none;
}

.your-comment div select {
    width: 150px;
    height: 40px;
    font-size: 14px;
    background: #fffce3;
    border: 1px solid #ffffff;
    color: #4e4d4b;
    border-radius: 3px;
    font-weight: bold;
    padding-left: 20px
}

.your-comment div select:focus {
    outline: none;
}

.your-comment div .submit-comment {
    background: #55a936;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 3px;
}