.footer .col:nth-child(2) img {
    width: 200px;
}

.footer .col:nth-child(2) .quacam {
    width: 200px;
}

.footer p {
    font-size: 13px;
    line-height: 30px
}

.footer {
    width: 100%;
    height: auto;
    background: #306304;
    padding: 50px;
    color: white;
}